<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dzf.mapper.PeopleMapper">

    <resultMap id="PeopleMap" type="com.dzf.pojo.People">
        <result property="name" column="username"/>
        <result property="password" column="password"/>
    </resultMap>

    <select id="select" resultMap="PeopleMap">
        select *from t_user
        where username = #{name}
        and password = #{password}
    </select>

    <!--写完sql语句之后可到mysql可视化软件上运行一下，看是否出错，delete后无需加*也会删除多条记录，如果有多条记录-->
    <delete id="delete">
        delete from t_user where username = #{name}
    </delete>
</mapper>